.home-page-name {
  margin-top: 2rem;
  text-align: center;
}

.home-page-name_big {
  font-family: "Courier New", Courier, monospace;
  font-size: 9rem;
  margin-bottom: 1px;
  margin-top: 1px;
}

.home-page-name_medium {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  margin-bottom: 1px;
  margin-top: 1px;
}

.home-page-transferer {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
}

.home-page-secondbase-container {
  height: 50rem;
  margin-top: 15rem;
  font-family: cursive;
  font-size: 2rem;
}