.cv-page-button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cv-page-text-container {
  text-align: left;
  margin-left: 3rem;
}

.cv-page-headline {
  margin-top: 30px;
  font-size: 5rem;
  margin-bottom: 1px;
  color: #5ea5b8ff;
  font-family: Montserrat;
}

.cv-page-headline_text {
  margin-top: 0px;
  margin-bottom: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

.cv-page-headline_text_subheadline {
  color: rgb(134, 197, 224);
  margin-top: 10px;
  margin-bottom: 4px;
}
